## Data Collection

In [ ]:
#Import  web scraping libraries
import requests
from bs4 import BeautifulSoup

## Sport

In [ ]:
#Sport Articles:

Sport_Articles=[]
Sport_Titles=[]
URL = 'https://en.wikipedia.org/wiki/Sport' #URL of Sport Article
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')
results = soup.find(id='mw-content-text')
title=soup.find(id="content")
title=title.find("h1")
t=title.get_text()  #Title of Article
Sport_Titles.append(t)
art = results.find_all('div', class_='mw-parser-output')
s=""
for x in art:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      s=s+i.text
Sport_Articles.append(s)
results = soup.find_all('div',class_='div-col')
l=[]
txt="https://en.wikipedia.org/"
for x in results:
  z=x.find_all('a', href=True)
for i in z:
  #URLS of related articles
  l.append(txt+i['href'])

#We will do the same thing as before to extract the related articles
for link in l:
  URL = link
  page = requests.get(URL)
  soup = BeautifulSoup(page.content, 'html.parser')
  results = soup.find(id='mw-content-text')
  title=soup.find(id="content")
  title=title.find("h1")
  t=title.get_text()  #Title of article
  Sport_Titles.append(t)

  art = results.find_all('div', class_='mw-parser-output')
  s=""
  for x in art:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      s=s+i.text
  Sport_Articles.append(s)

## Technology

In [ ]:
#Technology Articles

Tec_Articles=[]
Tec_Titles=[]

#URL of Technology Article
URL = 'https://en.wikipedia.org/wiki/Technology'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')
results = soup.find(id='mw-content-text')
title=soup.find(id="content")
title=title.find("h1") 
t=title.get_text()  #Title of article
Tec_Titles.append(t)
art = results.find_all('div', class_='mw-parser-output')
s=""
for x in art:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      s=s+i.text
Tec_Articles.append(s)
results = soup.find_all('div',class_='div-col')
l=[]
txt="https://en.wikipedia.org/"
for x in results:
  z=x.find_all('a', href=True)
for i in z:
  #URLS of related articles
  l.append(txt+i['href'])

#We will do the same thing as before to extract the 40 related articles
for link in l[:40]:
  URL = link
  page = requests.get(URL)
  soup = BeautifulSoup(page.content, 'html.parser')
  results = soup.find(id='mw-content-text')
  title=soup.find(id="content")
  title=title.find("h1")
  t=title.get_text()   # Title of article 
  Tec_Titles.append(t)
  art = results.find_all('div', class_='mw-parser-output')
  s=""
  for x in art:
    for i in x.find_all('p'):
      #Extract paragraphs
      s=s+i.text
  Tec_Articles.append(s)

## Agriculture

In [ ]:
#Agriculture articles

Agr_Articles=[]
Agr_Titles=[]
URL = 'https://en.wikipedia.org/wiki/Agriculture' #URL of Agriculture Article
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')
results = soup.find(id='mw-content-text')
title=soup.find(id="content")
title=title.find("h1")
t=title.get_text()  #Title of article
Agr_Titles.append(t)
art = results.find_all('div', class_='mw-parser-output')
s=""
for x in art:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      s=s+i.text
Agr_Articles.append(s)
results = soup.find_all('div',class_='div-col')
l=[]
#We will do the same thing as before to extract some related articles
txt="https://en.wikipedia.org/"
for x in results:
  z=x.find_all('a', href=True)
for i in z:
  #URLS of related articles
  l.append(txt+i['href'])
for link in l:
  URL = link
  page = requests.get(URL)
  soup = BeautifulSoup(page.content, 'html.parser')
  results = soup.find(id='mw-content-text')
  title=soup.find(id="content")
  title=title.find("h1")
  t=title.get_text()   #Title of Article
  Agr_Titles.append(t)
  art = results.find_all('div', class_='mw-parser-output')
  s=""
  for x in art:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      s=s+i.text
  Agr_Articles.append(s)

## Cleaning

In [ ]:
#Import libraries:
import re
import pandas as pd
import nltk
import string
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
#Put all articles in one list
Articles = Agr_Articles+Tec_Articles+Sport_Articles

#Put all titles in one list
Titles = Agr_Titles + Tec_Titles + Sport_Titles

#id for each article
IDS=[i for i in range(len(Titles))]

#Data Cleaning
j=0
for i in Articles:
  #remove \n
   Articles[j]= i.replace('\n','')
   j=j+1

j=0
for i in Articles:   
   #remove \xa0
   Articles[j]= i.replace(u'\xa0', u' ')
   j=j+1

j=0
for i in Articles:
  #remove numbers between box brackets 
   Articles[j] = re.sub(r'[\d]', '', i) 
   j=j+1

In [ ]:
list_of_art = list(zip(IDS,Titles, Articles))  
df = pd.DataFrame(list_of_art, 
                  columns = ['id', 'Title','Article']) 
df.head()

   id  ...                                            Article
0   0  ...  Agriculture is the science and art of cultivat...
1   1  ...  Aeroponics is the process of growing plants in...
2   2  ...  An agricultural aircraft is an aircraft that h...
3   3  ...  Agricultural engineering is the engineering of...
4   4  ...  An agricultural robot is a robot deployed for ...

[5 rows x 3 columns]

In [ ]:
#Remove punctuation
def remove_punc(text):
  no_punc="".join([c for c in text if c not in string.punctuation])
  return no_punc
j=0
for i in Articles:
  Articles[j]=remove_punc(i)
  j=j+1

In [ ]:
#Remove URLS from Articles
def remove_URL(sample):
    """Remove URLs from a sample string"""
    return re.sub(r"http\S+", "", sample)

j=0
for i in Articles:
  Articles[j]=remove_URL(i)
  j=j+1

In [ ]:
#Remove special caracters
def special_car(text):
   no_spe=re.sub('[^A-Za-z]+', ' ', text)
   return no_spe
j=0
for i in Articles:
  Articles[j]=special_car(i)
  j=j+1

## Recommender System: Content Filtering

Content-based filtering uses item features to recommend other items similar to what the user likes, based on their previous actions or explicit feedback.

In [ ]:
#Import libraries
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [ ]:
#Define a TF-IDF Vectorizer Object and remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(Articles)

#Output the shape of tfidf_matrix
tfidf_matrix.shape
#tfidf.get_feature_names()

(101, 20406)

In [ ]:
# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
print("cosine_sim[0]= ",cosine_sim[0])
print("shape ",cosine_sim.shape)

cosine_sim[0]=  [1.         0.18627452 0.14648923 0.33032912 0.20652491 0.19951347
 0.16919569 0.23793954 0.17115231 0.1018541  0.15454691 0.25177783
 0.13441203 0.24298959 0.06218323 0.07608009 0.27959556 0.15641112
 0.04706762 0.03797363 0.06964645 0.04971823 0.11377698 0.03246872
 0.06803978 0.01302618 0.03259371 0.06247055 0.04649381 0.05931572
 0.14717873 0.05781068 0.04677955 0.02291753 0.09476015 0.15320593
 0.07901968 0.0723728  0.0318142  0.05024605 0.04811816 0.04240787
 0.03859565 0.08191515 0.03568726 0.05382936 0.06691125 0.05330158
 0.0570913  0.0454065  0.05592172 0.07758188 0.07566445 0.07121563
 0.08204051 0.04955658 0.04095699 0.09846392 0.07638379 0.05545699
 0.10001531 0.03533134 0.0481731  0.04454616 0.03536554 0.0497823
 0.07316544 0.02356833 0.02162111 0.03090547 0.03341181 0.00890223
 0.03774878 0.05162253 0.03806882 0.0499172  0.07531606 0.
 0.04313616 0.02018146 0.06402124 0.02477628 0.02941114 0.02631792
 0.01299331 0.03912061 0.03536554 0.03767342 0.06596671 0.0468367
 0.06184879 0.08544886 0.00819987 0.03263283 0.02876795 0.0534067
 0.0362726  0.0334596  0.04893887 0.         0.02470298]
shape  (101, 101)

In [ ]:
#Construct a reverse map of indices and article titles

indices = pd.Series(df.index, index=df['Title']).drop_duplicates()

In [ ]:
#Indices
indices[90:]

Title
Sports marketing                            90
Sports nutrition                            91
List of sports terms named after people     92
Athletic training                           93
Athlete                                     94
Sportswear                                  95
Team sport                                  96
Underwater sports                           97
Women's sports                              98
List of water sports                        99
Winter sports                              100
dtype: int64

In [ ]:
# Function that takes in article title as input and outputs most similar articles
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the article that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all articles with that article
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the articles based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar articles
    sim_scores = sim_scores[1:11]

    # Get the article indices
    article_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar articles
    return df['Title'].iloc[article_indices]

In [ ]:
#Let's test with title = "Women's sports"
get_recommendations("Women's sports")

58                    Sport
90         Sports marketing
62               Parasports
66      International sport
59       Sport of athletics
96               Team sport
70        Multi-sport event
81              Sports club
73            Olympic Games
87    Sports governing body
Name: Title, dtype: object

We get the 10 most similar articles to Women's sports Article